body{
    text-align: center;
}

#formulaire-authentification, #formulaire-creation-compte, #formulaire-modifier-compte, #page-menu{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

input{
    margin-bottom: 5%;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

h1{
    margin-bottom: 3%;
}

h2{
    margin-top: 10%;
    margin-bottom: 10%;
}

li{
    margin-top: 7%;
}

.retour{
    margin-top: 15%;
}

.mute-auth {
    position:absolute;
    right:0;
    top:0;
}
