body{
    text-align: center;
}

#formulaire-authentification, #formulaire-creation-compte, #formulaire-modifier-compte{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

input{
    margin-bottom: 10px;
}

ul{
    list-style: none;
}

h1{
    margin-bottom: 3%;
}

li{
    margin-top: 2%;
}

.retour{
    margin-top: 8%;
}

